@import "tailwindcss";

:root {
  --surface: #01120b;
  --surface-container: #051e15;
  --surface-container-high: #09241b;
  --surface-container-highest: #0d2b21;
  --primary: #69f6b8;
  --primary-dim: #58e7ab;
  --primary-container: #06b77f;
  --on-surface: #e4fcf0;
  --on-surface-variant: #9ab0a5;
  --outline: #657a70;
  --outline-variant: #384c43;
  --secondary: #f8a010;
  --tertiary: #cdffe3;
  --error: #ff716c;
  --on-primary: #005a3c;
  --background: #01120b;
  --on-background: #e4fcf0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--on-surface);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
